*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;   
    scroll-behavior: smooth;  
    max-height: 4000px;
    max-width: 1500px;
    width: 100%;
   
}


.top{
    background-color: white;
    height: 70px;
    width: 100%;
    max-width: 1500px;
    box-shadow: 0px 5px 20px lightgrey;
    position: sticky;
    top: 0;
    margin-bottom: 0px;
}


.top2{
    background-color: white;
    max-height: 80px;
    max-width: 120px;
    width: 100%;
    height:100%;
    position: sticky;
    top: 0;
    margin-bottom: 30px;
    margin-left: 900px;
    margin-top: -400px;
}

.container1{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: 100%;
        width: 100%;
        max-width: 600px;
        max-height: 900px;
        margin-left: 400px;
        margin-top: 200px;
        margin-bottom: 0px;

}

.container1 img{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    max-width: 600px;
    max-height: 900px;
    margin-left: 100px;
    margin-top: 200px;
    margin-bottom: 0px;

}

.container2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    max-width: 600px;
    max-height: 800px;
    margin-left: 200px;
    margin-top: -550px;
    margin-bottom: 200px;
    
}

.productbox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    max-width: 600px;
    max-height: 900px;
    margin-left: 400px;
    margin-top: 200px;
    margin-bottom: 0px;

}

h1{

    text-align: center;
    margin-left: 0%;
    margin-right: -40%;
    font-size: 50px;
    font-family: 'Antic Didone', serif;
    letter-spacing: 10px;

    
    
}

.greenbag{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    max-width: 400px;
    max-height: 400px;
    margin-left: 200px;
    margin-top: 400px;
    margin-bottom: 200px;
    box-shadow: 0px 5px 20px lightgrey;
}

img {
    max-width: 100%;
    height: auto;
}